name: CI

on: [push]

jobs:
  build:

    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Setup java
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Decrypt secrets
        run: openssl enc -d -aes-256-cbc -md sha256 -in secrets.zip.enc -out secrets.zip -k ${{secrets.ENCRYPT_ZIP_KEY}} && unzip secrets.zip
      - name: Build debug
        run: ./gradlew assembleDebug --stacktrace
      - name: Run lint
        run: ./gradlew lintDebug
      - name: Run tests
        run: ./gradlew testDebug
      - name: Run emulator tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: ./gradlew connectedCheck
      - name: Publish to play store
        run: ./gradlew publishReleaseBundle
        if: success() && github.ref == 'refs/heads/master'
