name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Decrypt secrets
        run: openssl enc -d -aes-256-cbc -md sha256 -in secrets.zip.enc -out secrets.zip -k ${{secrets.ENCRYPT_ZIP_KEY}} && unzip secrets.zip
      - name: Build debug
        run: ./gradlew assembleDebug --stacktrace
      - name: Run tests
        run: ./gradlew testDebug
      - name: Run lint
        run: ./gradlew lintDebug
      - name: Publish to play store
        run: ./gradlew publishRelease
        if: success() && github.ref == 'refs/heads/master'
